.routineGen {
    position: absolute;
    top: 350px;
    left: 350px;
    width: 25%;
    height: 50%;
    text-align: center;
    color: #222222;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.routineGen h1 {
    position: relative;
    bottom: 2px;
    font-size: 36px;
    color: #eb5844;
}

.routineGen p {
    position: relative;
    bottom: 0px;
    font-size:18px
}

.routineCust {
    position: absolute;
    top: 350px;
    right: 350px;
    width: 25%;
    height: 50%;
    text-align: center;
    color: #222222;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.routineCust h1 {
    position: relative;
    bottom: 2px;
    font-size: 36px;
    color: #eb5844;
}

.routineCust p {
    position: relative;
    bottom: 0px;
    font-size:18px
}

.subcontainer {
    width: 80%;
    height: 100%%;
    background-color: #eee;
    cursor: pointer;
}

@media screen and (max-width:800px) {
  .routineGen, .routineCust {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}