{% extends "base_staff.html" %}
{% block title %} Dashboard Staff Update BMI{% endblock %}
<head>
  <title>E-Commerce GoFit Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% block content %}

            <!-- Begin Page Content -->

        {% from "includes/formHelper.html" import render_field %}
        <div id="create_content" style="padding-left:30px; padding-top:20px; padding-right:30px; padding-bottom:50px;">
            <h1 class="display-7">Update User BMI Records</h1>

            <form method="POST" action="">
                <div class="form-group">
                <input class="form-control" type="text" name="" value="{{user_id}}" readonly >
                    </div>

                <div id="prof1">
                    <div class="form-group">
                        {{ render_field(form.height, class="form-control") }}
                    </div>
                </div>

                 <div id="prof2">
                    <div class="form-group">
                        {{ render_field(form.weight, class="form-control") }}
                    </div>
                </div>

                <input type="submit" value="Update" class="btn btn-primary" style="float:right"/>
            </form>
                </div>

{% endblock %}
